<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CITAS MEDICAS PARA MASCOTAS PARA MASCOTAS </title>
    <link rel="stylesheet" href="/static/css/homestyles.css">
</head>
<body>
    <header>
        <div class="logo">AMIGOS QUE NO HABLAN</div>
        <nav>
            <ul>
                <li><a href="home.html">Inicio</a></li>
                <li><a href="resgistrousuarios.html">Registrate aqui</a></li>
                <li><a href="registrocitas.html">Agenda tu cita</a></li>
                <li><a href="/templates/consultacitas.html">Consultas</a></li>
                <li><a href="login.html">Iniciar Sesión</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="banner">
            <h1>¡Cuida la salud de tu mascota con facilidad!</h1><br><br>
            <a href="appointment.html" class="cta-button">Haz una cita ahora</a>
        </section>

        <section class="services">
            <h2>Servicios ofrecidos</h2>
            <p>Citas, Recordatorio de vacunas, Consultas</p>
        </section>
    </main>
</body>
</html>