<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/loginstyle.css">
    <title>Document</title>
</head>
<body>
    <div class="login-container"> AMIGOS QUE NO HABLAN
     <h1>Iniciar Sesión</h1>
        <form id="loginForm">
            <input type="email" placeholder="Correo Electrónico" required>
            <div class="password-container">
                <input type="password" placeholder="Contraseña" required id="password">
                <button type="button" id="togglePassword"></button>
            </div>
            <button type="submit">Iniciar Sesión</button>
        </form>
        <a href="/templates/resgistrousuarios.html">¿Olvidaste tu contraseña?</a>
        <div class="social-login">
            <button>Iniciar sesión con Facebook</button>
            <button>Iniciar sesión con Google</button>
        </div>
        <p>No tienes cuenta? <a href="/templates/resgistrousuarios.html">Crea una cuenta nueva</a></p>
    </div>
    <script src="script.js"></script>
</body>
</html>